---
vagrant_local:
  vm:
    name: default
    provider: virtualbox
    base_box: ubuntu/trusty64
    hostname: default.local
    aliases:
      - www.default.local
    ip: 192.168.123.2
    memory: '512'
    cpus: 1
    app_shared_folder:
      source: www
      target: /var/www
      sync_type: ~
      owner: vagrant
      group: vagrant
      permissions: u=rwX:g=rwX:o=rD
      bindfs: true
    provider_specific:
      parallels:
        base_box: parallels/ubuntu-14.04
      lxc:
        base_box: oxid_esales/trusty64-lxc
        ip: ~
        app_shared_folder:
          sync_type: ~
docker: false
server:
  timezone: Europe/Berlin
  locale: en_US.UTF-8
  apt_mirror: http://de.archive.ubuntu.com/ubuntu/
  unattended_upgrade: false
  packages: ~
  personal_packages: ~
  forceless_umount_url: https://github.com/OXID-eSales/oxvm_assets/blob/master/umount?raw=true
landing:
  install: true
apache:
  install: true
  docroot: /var/www
  servername: "{{ vagrant_local.vm.hostname }}"
  user: "{{ vagrant_local.vm.app_shared_folder.owner }}"
  group: "{{ vagrant_local.vm.app_shared_folder.group }}"
mysql:
  install: true
  root_password: '123'
  database: db
  user: user
  password: password
  dump: ''
php:
  install: true
  packages:
    - php5.6-cli
    - php5.6-intl
    - php5.6-mcrypt
    - php5.6-mysql
    - php5.6-gd
    - php5.6-curl
    - php5.6-xml
  version: ~
  display_errors: On
  phpbrew:
    cache:
      repo: 'https://github.com/OXID-eSales/oxvm_assets'
      ref: 'phpbrew_builds'
      depth: 1
      update: true
  xdebug:
    install: '1'
    host: ~
  composer:
    timeout: false
    installer_url: https://getcomposer.org/installer
    install: '1'
    github_token: ~
    prestissimo:
      install: false
  pecl_packages: ~
  zendguard:
    install: false
    pkg_url: https://github.com/OXID-eSales/oxvm_assets/blob/master/zend-loader-php5.6-linux-x86_64.tar.gz?raw=true
  ioncube:
    install: false
    pkg_url: http://downloads3.ioncube.com/loader_downloads/ioncube_loaders_lin_x86-64_6.0.6.tar.gz
mailhog:
  install: false
  web_port: 8025
  smtp_port: 1025
  pkg_url: 'https://github.com/mailhog/MailHog/releases/download/v0.1.8/MailHog_linux_amd64'
  sendmail_url: 'https://github.com/mailhog/mhsendmail/releases/download/v0.1.9/mhsendmail_linux_amd64'
  web_alias: '/mail/'
adminer:
  install: false
  pkg_url: 'https://raw.githubusercontent.com/OXID-eSales/oxvm_assets/master/adminer-4.2.5-mysql-en.php'
  web_alias: '/adminer/'
adminer_editor:
  install: false
  pkg_url: 'https://raw.githubusercontent.com/OXID-eSales/oxvm_assets/master/editor-4.2.5-mysql-en.php'
  web_alias: '/adminer_editor/'
varnish:
  install: false
  repo:
    source: 'deb https://packagecloud.io/varnishcache/varnish40/ubuntu/ trusty main'
    key: 'https://packagecloud.io/varnishcache/varnish40/gpgkey'
    https: '1'
  daemon_path: /usr/sbin/varnishd
  package_name: varnish
  default_config:
    source: ~
    target: /etc/varnish/default.vcl
java:
  install: false
  packages: [openjdk-7-jre]
elasticsearch:
  install: false
  repo:
    deb_destination: '/tmp/elasticsearch_2_3_3.deb'
    deb_source: 'https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/deb/elasticsearch/2.3.3/elasticsearch-2.3.3.deb'
    deb_checksum: 'sha1:8385dda7aa3870a3b13fc1df91d8b750d940700e'
selenium:
  install: false
  package:
    firefox:
      deb_url: https://github.com/OXID-eSales/oxvm_assets/raw/master/firefox-mozilla-build_31.0-0ubuntu1_amd64.deb
      deb_checksum: sha256:41c3a02d304a26e10c237516c773ba51d93eb2b11e5a82292bb47b26bb2ba859
    self:
      jar_url: https://github.com/OXID-eSales/oxvm_assets/raw/master/selenium-server-standalone-2.47.1.jar
      jar_checksum: sha256:45665f3bb4dffb668981258faff91823db4a1f6250fd24fd6698ec159a4aeb8a
